.login-page-wrapper {
    display: flex;
    .login-form {
        flex: 1;
        min-width: 500px;
        h5 {
            margin-bottom: 20px;
        }
        .login-form-email {
            margin-bottom: 10px;
        }
        .login-form-password {
            margin-bottom: 10px;
        }
        .login-form-checkbox {
            margin-bottom: 20px;
        }
        .login-form-actions {
            display: flex;
            button {
                flex: 1;
            }
        }
    }
}
