<div class="login-page-wrapper">
    <span class="spacer"></span>
    <mat-card>
        <mat-card-title>
            <h4>Log in to Reddit</h4>
        </mat-card-title>
        <mat-card-content>
            <form class="login-form">
                <div class="login-form-email">
                    <mat-form-field class="full-width">
                        <input matInput type="email" placeholder="Email" autofocus>
                    </mat-form-field>
                </div>
                <div class="login-form-password">
                    <div class="login-form-email">
                        <mat-form-field class="full-width">
                            <input matInput type="password" placeholder="Password">
                        </mat-form-field>
                    </div>
                </div>
                <div class="login-form-options">
                    <mat-checkbox color="primary" [checked]="true">Remember me</mat-checkbox>
                    <span class="spacer"></span>
                    <a mat-button color="primary">Forgot your password?</a>
                </div>
                <div class="login-form-actions">
                    <button mat-raised-button class="full-width" color="primary">Log In</button>
                </div>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <small>By logging in you agree to the terms and that you have read the content policy and privacy policy.</small>
        </mat-card-footer>
    </mat-card>
    <span class="spacer"></span>
</div>
