<div class="login-page-wrapper">
    <span class="spacer"></span>
    <mat-card>
        <div class="login-form">
            <h5>Log in to Reddit</h5>
            <form>
                <div class="login-form-email">
                    <mat-form-field class="full-width">
                        <input matInput type="email" placeholder="Email" autofocus>
                    </mat-form-field>
                </div>
                <div class="login-form-password">
                    <div class="login-form-email">
                        <mat-form-field class="full-width">
                            <input matInput type="password" placeholder="Password">
                        </mat-form-field>
                    </div>
                </div>
                <div class="login-form-checkbox">
                    <mat-checkbox>Remember me</mat-checkbox>
                </div>
                <div class="login-form-actions">
                    <button mat-raised-button color="primary">Log In</button>
                    <span class="spacer"></span>
                    <button mat-button color="accent">Sign Up</button>
                </div>
            </form>
        </div>
    </mat-card>
    <span class="spacer"></span>
</div>
