<div class="rss-feeds-container">
    <div class="rss-feeds-row">
        <h5>Private RSS Feeds</h5>
        <p>On this page are links to private RSS feeds so that you can get listings of your content (personalized front page,
            message panel, saved listing, etc.) without having to deal with cookies or other auth. Keep in mind that these
            urls are intended to be private, so
            <strong>share at your own risk</strong>. All feeds are invalidated if you change your password, however.</p>
    </div>
    <div class="rss-feeds-row">
        <h5>Private Listings</h5>
        <ul>
            <li>
                <button mat-raised-button>
                    <mat-icon>rss_feed</mat-icon>RSS</button>
                <button mat-raised-button>JSON</button>
                <span>Front page</span>
            </li>
            <li>
                <button mat-raised-button>
                    <mat-icon>rss_feed</mat-icon>RSS</button>
                <button mat-raised-button>JSON</button>
                <span>Saved links</span>
            </li>
        </ul>
    </div>
    <div class="rss-feeds-row">
        <h5>Private Profile Pages</h5>
        <ul>
            <li>
                <button mat-raised-button>
                    <mat-icon>rss_feed</mat-icon>RSS</button>
                <button mat-raised-button>JSON</button>
                <span>Links you've upvoted</span>
            </li>
            <li>
                <button mat-raised-button>
                    <mat-icon>rss_feed</mat-icon>RSS</button>
                <button mat-raised-button>JSON</button>
                <span>Links you've downvoted</span>
            </li>
            <li>
                <button mat-raised-button>
                    <mat-icon>rss_feed</mat-icon>RSS</button>
                <button mat-raised-button>JSON</button>
                <span>Links you've hidden</span>
            </li>
        </ul>
    </div>
    <div class="rss-feeds-row">
        <h5>Inbox</h5>
        <ul>
            <li>
                <button mat-raised-button>
                    <mat-icon>rss_feed</mat-icon>RSS</button>
                <button mat-raised-button>JSON</button>
                <span>Everything</span>
            </li>
            <li>
                <button mat-raised-button>
                    <mat-icon>rss_feed</mat-icon>RSS</button>
                <button mat-raised-button>JSON</button>
                <span>Unread messages</span>
            </li>
            <li>
                <button mat-raised-button>
                    <mat-icon>rss_feed</mat-icon>RSS</button>
                <button mat-raised-button>JSON</button>
                <span>Messages only</span>
            </li>
            <li>
                <button mat-raised-button>
                    <mat-icon>rss_feed</mat-icon>RSS</button>
                <button mat-raised-button>JSON</button>
                <span>Comment replies only</span>
            </li>
            <li>
                <button mat-raised-button>
                    <mat-icon>rss_feed</mat-icon>RSS</button>
                <button mat-raised-button>JSON</button>
                <span>Self-post replies only</span>
            </li>
            <li>
                <button mat-raised-button>
                    <mat-icon>rss_feed</mat-icon>RSS</button>
                <button mat-raised-button>JSON</button>
                <span>Mentions of your username only</span>
            </li>
        </ul>
    </div>
</div>
