.main-toolbar {
    a,
    button {
        min-width: initial;
    }
    .full-width {
        width: 100%;
    }
    .main-toolbar-search-form {
        padding-top: 8px;
        font-size: 16px!important;
        .mat-input-element:focus {
            padding: 8px;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    .main-toolbar-search-box {}
    .mat-input-flex {
        width: 300px!important;
    }
    .main-toolbar-secondary-row {
        height: 37px;
        background-color: #2a2a2a; // flex-flow: wrap;
    }
    .toolbar-menu-item {
        min-width: initial;
        text-transform: uppercase;
    }
}

a.main-toolbar-heading {
    padding-top: 1px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 10px;
    h5 {
        padding-top: 2px!important;
        font-size: 22px!important;
    }
}

a.menu-item.mat-menu-item {
    font-size: 14px!important;
    line-height: 38px;
    height: initial;
    padding-right: 50px!important;
}
