<mat-toolbar color="primary" class="main-toolbar">
    <mat-toolbar-row class="main-toolbar-primary-row">
        <a mat-button class="main-toolbar-heading" [routerLink]="['']">
            <h5>
                <mat-icon>adb</mat-icon> Reddit</h5>
        </a>
        <div class="main-toolbar-search">
            <app-search></app-search>
        </div>
        <a mat-button class="toolbar-menu-item">
            <mat-icon>email</mat-icon>
            <span>4</span>
        </a>
        <button mat-button class="toolbar-menu-item" type="button" [matMenuTriggerFor]="accountMenu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #accountMenu>
            <a mat-menu-item class="menu-item">
                <mat-icon>account_circle</mat-icon> Profile</a>
            <a mat-menu-item class="menu-item">
                <mat-icon>email</mat-icon> Inbox</a>
            <a mat-menu-item class="menu-item" [routerLink]="['preferences']">
                <mat-icon>settings</mat-icon> Preferences</a>
            <hr>
            <a mat-menu-item class="menu-item">
                <mat-icon>power_settings_new</mat-icon> Log out</a>
        </mat-menu>
        <a mat-raised-button color="primary" [routerLink]="['login']">
            <mat-icon>input</mat-icon> Log In</a>
    </mat-toolbar-row>
    <mat-toolbar-row class="main-toolbar-secondary-row">
        <span class="main-toolbar-content-placeholder">
            <!-- Communities sidenav toggle button placeholder (<ng-content>) -->
            <ng-content></ng-content>
        </span>
        <mat-tab-group>
            <mat-tab label="Hot"></mat-tab>
            <mat-tab label="New"></mat-tab>
            <mat-tab label="Controversial"></mat-tab>
            <mat-tab label="Rising"></mat-tab>
            <mat-tab label="Top"></mat-tab>
            <mat-tab label="NSFW"></mat-tab>
        </mat-tab-group>
        <span class="spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>
