.main-toolbar {
    a,
    button {
        min-width: initial;
    }
    .main-toolbar-search-form {
        padding-top: 8px;
        font-size: 16px!important;
        .mat-input-element:focus {
            padding: 8px;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    .main-toolbar-search-box {}
    .mat-input-flex {
        width: 300px!important;
    }
    .main-toolbar-secondary-row {
        height: 46px;
        border-bottom: 1px solid #222;
        background-color: #2a2a2a; // flex-flow: wrap;
        padding-left: 5px;
        padding-right: 5px;
    }
    .toolbar-menu-item {
        min-width: initial; // text-transform: uppercase;
    }
}

a.main-toolbar-heading {
    padding-top: 0;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 10px;
    h5 {
        padding-top: 2px!important;
        font-size: 22px!important;
        mat-icon {
            vertical-align: text-top;
        }
    }
}

a.menu-item.mat-menu-item {
    font-size: 14px!important;
    line-height: 38px;
    height: initial;
    padding-right: 50px!important;
}
