<div class="sidenav">
    <div class="sidenav-heading">
        <h5>Subreddits</h5>
        <span class="spacer"></span>
        <a mat-button class="sidenav-settings-button" color="accent">
            <mat-icon>settings</mat-icon>
        </a>
    </div>
    <ng-container *ngIf="loggedIn; else showLoggedOut">
        <mat-list>
            <mat-list-item *ngFor="let subreddit of subreddits">
                <a mat-button href="https://www.reddit.com/r/{{subreddit.name}}" class="sidenav-menu-item" target="_blank">
                    {{subreddit.name}}
                </a>
            </mat-list-item>
        </mat-list>
    </ng-container>
    <ng-template #showLoggedOut>
        <div class="sidenav-logged-out-content">
            <button mat-button class="full-width" color="accent">Explore subreddits</button>
        </div>
    </ng-template>
</div>
