.sidenav {
    margin: 10px;
    min-width: 280px!important;
    .sidenav-heading {
        display: flex;
        h5 {
            margin: 0;
            padding-top: 6px;
        }
    }
    .sidenav-settings-button {
        min-width: initial;
    }
    mat-list.matlist {
        padding-top: 10px!important;
    }
    mat-list-item {
        height: initial!important;
        a.sidenav-menu-item {
            min-width: 100%!important;
            text-align: left;
        }
    }
    .sidenav-logged-out-content {
        display: flex;
        align-items: center;
        padding-top: 10px;
    }
}

div.mat-list-item-content {
    padding: 0!important;
}
