.icon {
    padding: 0 14px;
}

.container {
    height: 100%;
}

.main-outlet {
    padding: 10px;
}

.sidenav-toggle-button {
    min-width: initial;
    padding: 0 8px;
    line-height: initial;
}

.subreddit-menu-button {
    padding-top: 1px!important;
    mat-icon {
        padding-bottom: 2px!important;
    }
}
