.main-toolbar {
    button {
        min-width: initial;
    }
}

a.menu-item.mat-menu-item {
    font-size: 14px!important;
    line-height: 38px;
    height: initial;
}

.icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}

.sidenav-toggle-button {
    min-width: initial;
    padding: 0 8px;
    line-height: initial;
}

.container {
    height: 100%;
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav {
    padding: 15px;
    min-width: 280px!important;
    .sidenav-heading {
        display: flex;
        flex: 1 1 auto;
        h6 {
            margin: 0;
            padding-top: 7px;
        }
    }
    mat-list-item {
        height: initial!important;
        .mat-list-item-content {
            padding: 0!important;
        }
        a.sidenav-menu-item {
            min-width: 100%!important;
            text-align: left;
        }
    }
}

.toolbar-heading {
    margin: 0 10px 0 5px;
    h5 {
        font-size: 22px!important;
    }
}

.toolbar-menu-item {
    min-width: initial;
    text-transform: uppercase;
}

.menu-item {
    padding-right: 50px!important;
}
