.deactivate-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    h4,
    h5,
    h6 {
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .deactivate-form {
        mat-icon {
            font-size: 11px;
            width: auto;
            height: auto;
        }
        .deactivate-form-row {
            margin-bottom: 30px;
            width: 50%;
        }
    }
    .deactivate-row {
        ul {
            margin-top: 0;
            line-height: 20px;
            li {
                padding-bottom: 5px;
                color: #ddd;
            }
        }
    }
}
