<div class="preferences-container">
    <mat-card>
        <mat-card-title>Preferences</mat-card-title>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Options">
                    <app-prefs-options></app-prefs-options>
                </mat-tab>
                <mat-tab label="Apps">
                    Apps Component
                </mat-tab>
                <mat-tab label="RSS Feeds">
                    RSS Feeds Component
                </mat-tab>
                <mat-tab label="Friends">
                    Friends Component
                </mat-tab>
                <mat-tab label="Blocked">
                    Blocked Component
                </mat-tab>
                <mat-tab label="Password/Email">
                    Password/Email Component
                </mat-tab>
                <mat-tab label="Deactivate">
                    Deactivate Component
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>
