<div class="prefs-password-container">
    <form class="password-form">
        <h5>Change Password</h5>
        <div class="password-form-current-password">
            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Current Password" autofocus>
            </mat-form-field>
        </div>
        <div class="password-form-password">
            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="New Password" autofocus>
            </mat-form-field>
        </div>
        <div class="password-form-confirm-password">
            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Confirm New Password">
            </mat-form-field>
        </div>
        <div class="password-form-actions">
            <button mat-raised-button color="primary">Change Password</button>
        </div>
    </form>
</div>
