.prefs-password-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    .password-form {
        min-width: 400px;
        max-width: 400px;
        .password-form-current-password {}
        .password-form-password {}
        .password-form-confirm-password {}
        .password-form-actions {
            margin-top: 10px;
        }
    }
    h5,
    h6 {
        margin-top: 15px;
    }
}
