<div class="home-page">
    <div class="home-page-left-container">
        <mat-card *ngFor="let sub of submissions">
            <mat-card-content class="card-content">
                <a class="card-avatar-wrapper">
                    <div mat-card-avatar class="card-avatar" [ngStyle]="{'background': 'url(' + sub.thumbnailUrl + ')'}"></div>
                </a>
                <div class="card-content">
                    <h5 class="card-heading">
                        <a>{{sub.title}}</a>
                    </h5>
                    <div class="card-details">
                        Submitted {{sub.timeString}} ago by
                        <a>{{sub.user}}</a> to
                        <a>{{sub.community}}</a>
                    </div>
                    <span class="spacer"></span>
                    <div class="card-actions">
                        <a mat-button title="View comments">
                            <mat-icon>comment</mat-icon>
                        </a>
                        <button mat-button color="accent" title="Share">
                            <mat-icon>share</mat-icon>
                        </button>
                        <button mat-button color="accent" title="Add to favorites">
                            <mat-icon>star</mat-icon>
                        </button>
                        <button mat-button color="warn" title="Report this submission">
                            <mat-icon>report</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- <div class="home-page-right-container">
        <mat-card>
            <img src="https://scontent-lht6-1.cdninstagram.com/t51.2885-15/sh0.08/e35/p640x640/23594221_1471125036257195_2165579951535816704_n.jpg"
                alt="bjs">
        </mat-card>
    </div> -->
</div>
